<div
  class="min-h-screen bg-[#10141E] flex flex-col items-center justify-around p-4 custom-scrollbar font-outfit"
>
  <div>
    <img src="assets/logo.svg" alt="" />
  </div>

  <div class="bg-[#161D2F] p-6 rounded-lg shadow-lg max-w-md w-full">
    <div *ngIf="loading" class="flex justify-center mb-4">
      <div class="loading-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>

    <div *ngIf="!loading">
      <h2 class="text-2xl font-bold mb-6 text-[#FFFFFF]">Login</h2>

      <div *ngIf="errorMessage" class="text-red-500 mb-4 text-center">
        <small>{{ errorMessage }}</small>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <input
            type="email"
            id="email"
            formControlName="email"
            class="w-full p-3 bg-transparent border-b border-gray-500 focus:outline-none focus:ring-0 focus:border-blue-500 text-white placeholder-gray-400"
            placeholder="Email Address"
          />

          <div
            *ngIf="email?.invalid && email?.touched"
            class="text-red-500 text-lg"
          >
            <small *ngIf="email?.errors?.['required']"
              >Email is required.</small
            >
            <small *ngIf="email?.errors?.['email']"
              >Please enter a valid email address.</small
            >
          </div>
        </div>

        <div class="mb-6">
          <input
            type="password"
            id="password"
            formControlName="password"
            class="w-full p-3 bg-transparent border-b border-gray-500 focus:outline-none focus:ring-0 focus:border-blue-500 text-white placeholder-gray-400"
            placeholder="Password"
          />

          <div
            *ngIf="password?.invalid && password?.touched"
            class="text-red-500 text-lg"
          >
            <small *ngIf="password?.errors?.['required']"
              >Password is required.</small
            >
            <small *ngIf="password?.errors?.['minlength']"
              >Password must be at least 6 characters long.</small
            >
          </div>
        </div>

        <button
          type="submit"
          class="w-full bg-[#FC4747] text-[#ffffff] text-xl py-3 rounded-md font-medium hover:bg-[#ffffff] hover:text-[#161D2F] transition duration-300"
          [disabled]="loginForm.invalid || loading"
        >
          Login to your account
        </button>
      </form>

      <p class="text-center text-sm text-gray-400 mt-4">
        Don’t have an account?
        <a
          (click)="navigateToSignUp()"
          class="text-[#FC4747] font-medium"
          style="cursor: pointer"
          >Sign Up</a
        >
      </p>
    </div>
  </div>
</div>
