<div
  class="fixed bg-[#161D2F] z-50 py-4 xl:py-8 px-8 flex justify-between items-center w-full md:rounded-2xl md:w-[95%] md:m-4 xl:w-32 xl:h-[95%] xl:flex-col xl:justify-between"
>
  <button class="xl:hidden w-24 flex justify-center">
    <img src="/assets/logo.svg" alt="logo" />
  </button>
  <div class="xl:hidden flex gap-4 sm:gap-6 items-center xl:flex-col">
    <a routerLink="home" routerLinkActive="active">
      <img
        src="/assets/icon-nav-home.svg"
        alt="home-icon"
        class="icon first-active"
      />
    </a>
    <a routerLink="movies" routerLinkActive="active">
      <img src="/assets/icon-nav-movies.svg" alt="movie-icon" class="icon" />
    </a>
    <a routerLink="tv-series" routerLinkActive="active">
      <img
        src="/assets/icon-nav-tv-series.svg"
        alt="tv-series-icon"
        class="icon"
      />
    </a>
    <a routerLink="bookmarks" routerLinkActive="active">
      <img
        src="/assets/icon-nav-bookmark.svg"
        alt="bookmark-icon"
        class="icon"
      />
    </a>
  </div>

  <div class="hidden xl:flex xl:flex-col xl:gap-20">
    <button class="bg-slate- w-20 flex justify-center">
      <img src="/assets/logo.svg" alt="logo" />
    </button>
    <div class="flex gap-4 sm:gap-6 items-center xl:flex-col">
      <a routerLink="entertain" routerLinkActive="active">
        <img src="/assets/icon-nav-home.svg" alt="home-icon" class="icon" />
      </a>
      <a routerLink="movies" routerLinkActive="active">
        <img src="/assets/icon-nav-movies.svg" alt="movie-icon" class="icon" />
      </a>
      <a routerLink="tv-series" routerLinkActive="active">
        <img
          src="/assets/icon-nav-tv-series.svg"
          alt="tv-series-icon"
          class="icon"
        />
      </a>
      <a routerLink="bookmarks" routerLinkActive="active">
        <img
          src="/assets/icon-nav-bookmark.svg"
          alt="bookmark-icon"
          class="icon"
        />
      </a>
    </div>
  </div>
  <div class="border-[3px] rounded-full w-[50px] h-[50px] cursor-pointer">
    <img
      src="/assets/image-avatar.png"
      alt="profile"
      class="w-full h-full object-cover"
    />
  </div>
</div>
