<div class="p-8 ml-5 font-outfit bg-transparent">
  <app-search (search)="onSearch($event)"></app-search>
  <div class="p-8 font-outfit">
    <h2 class="text-4xl font-semibold text-[#ffffff] tracking-wide mb-8">
      Movies
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
      <div
        *ngFor="let slide of moviesContent$ | async"
        class="relative rounded-lg shadow-md overflow-hidden group"
      >
        <div class="relative overflow-hidden">
          <div
            class="absolute top-3 right-4 bg-[#161d2f58] p-2 rounded-full z-10"
          >
            <img
              src="assets/icon-bookmark-empty.svg"
              alt="Bookmark Icon"
              class="h-4 w-4"
            />
          </div>

          <img
            [src]="slide.thumbnail.regular.large"
            alt="{{ slide.title }}"
            class="w-full h-48 object-cover transition-transform duration-300 group-hover:scale-110 rounded-lg"
          />

          <div
            class="absolute inset-0 bg-black opacity-0 group-hover:opacity-60 transition-opacity duration-300"
          ></div>

          <div
            class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <button
              class="bg-[#ffffff2e] text-black font-bold py-2 px-4 w-[160px] rounded-full shadow-lg flex items-center justify-center"
            >
              <img src="assets/icon-play.svg" alt="Play Icon" class="h-8 w-8" />
              <span class="ml-4 text-white">Play</span>
            </button>
          </div>
        </div>

        <div class="p-4">
          <p class="text-sm text-gray-400 flex items-center space-x-2">
            <span>{{ slide.year }} | </span>
            <img
              *ngIf="slide.category === 'Movie'"
              src="assets/icon-category-movie.svg"
              alt="Movie Icon"
              class="h-4 w-4"
            />
            <span>{{ slide.category }} | {{ slide.rating }}</span>
          </p>
          <h3 class="text-lg text-[#ffffff] font-semibold">
            {{ slide.title }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
