<h2 class="mt-8 text-4xl font-semibold text-white tracking-wide">Trending</h2>

<div class="mt-8 overflow-x-auto whitespace-nowrap scrollbar-hidden mb-6">
  <div class="flex space-x-6" style="min-width: 100vw">
    <div
      *ngFor="let slide of trendingContent$ | async"
      class="inline-block w-1/2"
    >
      <div
        class="relative rounded-lg overflow-hidden shadow-lg lg:w-[400px] max-sm:w-[240px] md:w-[400px] transition-transform transform hover:scale-105 hover:shadow-2xl hover:bg-opacity-70 duration-300"
      >
        <div
          class="absolute top-3 right-4 bg-[#161d2f58] p-2 rounded-full z-10 transition duration-300 cursor-pointer"
          (click)="toggleBookmark(slide)"
        >
          <img
            *ngIf="!slide.isBookmarked"
            src="assets/icon-bookmark-empty.svg"
            alt="Bookmark Icon"
            class="h-4 w-4 transition-transform duration-300 ease-in-out transform hover:scale-110"
          />

          <img
            *ngIf="slide.isBookmarked"
            src="assets/icon-bookmark-full.svg"
            alt="Bookmark Icon Filled"
            class="h-4 w-4 transition-transform duration-300 ease-in-out transform hover:scale-110"
          />
        </div>

        <picture>
          <source
            media="(min-width: 1024px)"
            [srcset]="
              slide.thumbnail.trending?.large || slide.thumbnail.regular.large
            "
          />
          <source
            media="(min-width: 768px)"
            [srcset]="slide.thumbnail.regular.medium"
            *ngIf="slide.thumbnail.regular.medium"
          />
          <source
            media="(max-width: 767px)"
            [srcset]="
              slide.thumbnail.trending?.small || slide.thumbnail.regular.small
            "
          />
          <img
            [src]="
              slide.thumbnail.trending?.large || slide.thumbnail.regular.large
            "
            alt="{{ slide.title }}"
            class="w-full h-56 object-cover"
          />
        </picture>

        <div
          class="absolute inset-0 bg-black bg-opacity-50 hover:bg-opacity-60 flex flex-col justify-end p-4 text-white transition duration-300"
        >
          <h2 class="text-2xl font-bold">{{ slide.title }}</h2>
          <p class="text-sm flex items-center space-x-2">
            <span>{{ slide.year }} | </span>

            <img
              *ngIf="slide.category === 'Movie'"
              src="assets/icon-category-movie.svg"
              alt="Movie Icon"
              class="h-4 w-4"
            />

            <img
              *ngIf="slide.category === 'TV Series'"
              src="assets/icon-category-tv.svg"
              alt="TV Series Icon"
              class="h-4 w-4"
            />

            <span>{{ slide.category }} | {{ slide.rating }}</span>
          </p>
        </div>

        <div
          class="absolute inset-0 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity duration-300"
        >
          <button
            class="bg-[#ffffff2e] text-black font-bold py-2 px-4 w-[160px] rounded-full shadow-lg flex items-center justify-center"
          >
            <img src="assets/icon-play.svg" alt="Play Icon" class="h-8 w-8" />
            <span class="ml-4 text-white">Play</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
